/****CSS Reset    https://colorhunt.co/palette/a20a0affa36cf6eec9799351     a61c1c(A20A0A), FFA36C, F6EEC9, 799351****/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
body {
  line-height: 1.5;
  background-color: #f6eec9;
  font-family: "Murecho", Arial, sans-serif;
  color: black;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/****General CSS****/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  font-size: 250%;
  text-align: center;
  background-color: #a61c1c;
  padding: 16px;
  margin: 32px 0;
}
/***Header***/
.logo {
  float: left;
  height: 200px;
  padding: 0 16px;
}
.title {
  font-family: "Meow Script", cursive;
  font-size: 500%;
}
.navbar div {
  display: inline-block;
  font-size: 120%;
  padding: 0 8px;
}
.navbar a {
  padding: 4px 12px;
  background-color: #799351;
}
.headerR {
  padding: 16px 32px;
  height: 200px;
  display: inline-block;
}
/***Scroll Design***/
::-webkit-scrollbar {
  z-index: 100;
  width: 5px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: #452732;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: #000;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: #000;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

/****About****/
.columns {
  float: left;
  width: 40%;
  padding-left: 50px;
}
.rows {
  width: 100%;
  text-align: center;
}
.rows:after {
  content: "";
  display: table;
  clear: both;
}
/***Form***/
.formCont {
  background-color: #EAE4C5;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  max-width: 70%;
  min-width: 350px;
}
form {
  max-width: 100%;
  margin: 10px auto;
  padding: 8px 16px;
}
form h1 {
  padding: 5px 0;
  font-size: 1.4rem;
  font-weight: normal;
  color: #111;
}
.field {
  margin-bottom: 0.75rem;
}
.field small {
  color: #dc3545;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
  width: 100%;
}
/* input, textarea */
input,
textarea,
select {
  border: solid 1px #696969;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-family: inherit;
  font-size: 13px;
}
input::placeholder {
  color: gray;
  font-size: 100%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2pt rgba(246, 238, 201, 0.5);
}
input[disabled],
textarea[disabled] {
  background-color: #e3915f;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

/* input error */
input.error,
textarea.error,
select.error {
  border-color: #dc3545;
}
input.error:focus,
textarea.error:focus,
select.error:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

/* input success */
input.success,
textarea.success,
select.success {
  border-color: #696969;
}
input.success:focus,
textarea.success:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

/* button */
.formbtn {
  background: #a61c1c;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #a61c1c;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  padding: 0.375rem 0.75rem;
}
.formbtn:hover {
  background: #a20a0a;
  border-color: #a61c1c;
  cursor: pointer;
}
.formbtn:focus {
  outline: none;
  color: #fff;
  background-color: #a20a0a;
  border-color: #a61c1c;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

/****Order****/
.ordCartCont {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1;
}
.ordPopout {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffa36c;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
}
.ordOpacity {
  height: 100%;
  width: 0;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
/* radio  & checkbox*/
label.radio,
label.checkbox {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}
.stack label.radio,
.stack label.checkbox {
  display: block;
  margin-left: auto;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-left: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  width: auto;
}

/* vertical form */
.vertical label,
.vertical input,
.vertical textarea {
  display: block;
  width: 100%;
}

/* horizontal form */
.horizontal .field {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 1rem 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.horizontal .field label {
  grid-column: 1 / 2;
  text-align: left;
}

.horizontal .field label.radio,
.horizontal .field label.checkbox {
  grid-column: 2 / 3;
  text-align: left;
}

.horizontal .field input,
.horizontal .field button,
.horizontal .field small {
  grid-column: 2 / 3;
}

/* Utility classes*/
.half {
  width: 50%;
}
.quarter {
  width: 25%;
}

.full {
  width: 100%;
}

.error {
  color: #dc3545;
}

/* Style CSS */

input {
  outline-color: #c98474;
}

#ordNav {
  height: 60px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #a7d2cb;
  border-radius: 0px;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.btnStyle {
  background-color: #ff6961;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 7px 10px;
  letter-spacing: 0.1em;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnStyle:hover {
  background-color: #874c62;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 6px 10px rgba(0, 0, 0, 0.23);
  transform: scale(1.05, 1.05);
}

.btnStyle2 {
  background-color: #874c62;
}

.btnStyle2:hover {
  background-color: #c98474;
}

.btnStyle3 {
  background-color: #a61c1c;
  width: 200px;
  text-align: center;
}

.btnStyle3:hover {
  background-color: #ff6961;
  width: 200px;
}

.toggleCart {
  position: relative;
  background-color: #a61c1c;
}

.fa-circle {
  font-size: 21px !important;
  color: #c98474;
}

.num {
  font-size: 12px;
  padding: 3px 6px;
  color: #fff;
}

.num,
.fa-circle {
  position: absolute;
  right: -9px;
  top: -9px;
  background-color: #799351;
  border-radius: 50%;
}

.cart {
  width: 200px;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: -300px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  background-color: #799351;
  padding: 30px;
  box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease-in-out;
}

.cart h2 {
  text-align: center;
  margin-bottom: 10px;
}

#cartToggle {
  display: none;
}

/*where the magic happens*/
#cartToggle:checked ~ div.body-content > .cart {
  right: 0px;
}

#cartToggle:checked ~ div.body-content {
  right: 100px;
}

#cartToggle:checked ~ div.body-content > .cart > a.finishOrder {
  right: 5px;
}

.body-content {
  position: relative;
  right: 0px;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;

  transition: all 0.2s ease-in-out;
}

/* orders */

.recipe-menu {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  background-size: 100% 100%;
  padding: 10px;
  margin-bottom: 40px;
  width: 300px;
  position: relative;
}

.recipe img {
  width: 100%;
  height: auto;
}

.name {
  font-size: 23px;
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 22px;
  padding: 0px 15px;
}

.recipe:hover > .addToCart {
  opacity: 1;
}

.addToCart {
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 28%;
  transition: all 0.2s ease-in-out;
}

.checkOrder {
  padding: 50px;
}

.checkOrder {
  padding: 29px 50px !important;
}

.listHeading {
  text-align: center;
  padding: 20px 0;
}

.listOfIngredients {
  list-style: none;
  margin-bottom: 15px;
}

.listOfIngredients input {
  margin: 0px 5px;
}

.addIngredientWrap {
  display: flex;
  margin: 5px 0;
}

.addIngredientWrap input {
  width: 60%;
}

.addIngredientWrap a {
  padding: 2px 6px;
  margin: 0 5px;
  font-size: 15px;
}

.cancelInput {
  background-color: #b33232;
}

.orderName {
  padding: 13px 0px 8px 0px;
}

.orderPrice {
  float: right;
}

hr {
  margin: 25px 0 5px 0;
}

.delBtn {
  float: right;
  color: #f2d388;
  cursor: pointer;
}

.totalSize {
  display: none;
}

.totalDialog {
  display: none;
}

.totalFinal {
  display: inline-block;
}

.cart > h2 > span {
  margin-left: 15px;
}

.finishOrder {
  width: 200px;
  position: fixed;
  bottom: 0;
  right: -265px;
  z-index: 2;
  padding: 6px 28px;
  border-radius: 0;
  text-align: center;
}

#finishOrderDialog {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

#finalOrderList {
  width: 40%;
}

#finalOrderList h3 {
  text-align: center;
}

#finalOrderList ol {
  margin: 10px 15px;
}

#buyerInfo {
  width: 60%;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#buyerInfo input {
  margin: 5px 0;
  padding: 3px;
  width: 90%;
}

#buyerInfo .order {
  display: block;
  width: 50%;
  margin-top: 10px;
  text-align: center;
}

#buyerInfo input::-webkit-input-placeholder {
  text-align: center;
}

#thanksMessage {
  padding: 20px;
}

/* Dialog Style */
.ui-dialog {
  z-index: 2;
  box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 30px;
}

.ui-draggable-handle {
  position: absolute;
  background-color: #799351;
  width: 100%;
  top: 0;
  left: 0;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  z-index: 999;
}

.ui-button {
  background-color: #a61c1c;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  float: right;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ui-button:hover {
  background-color: #c98474;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 6px 10px rgba(0, 0, 0, 0.23);
  transform: scale(1.05, 1.05);
}

.img {
  height: 200px;
  width: 200px;
}

table {
 border-collapse: collapse;
}

td {
 border: 1px solid #A9A9A9;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #C1E1C1;
}
