/****CSS Reset    https://colorhunt.co/palette/a20a0affa36cf6eec9799351     a61c1c(A20A0A), FFA36C, F6EEC9, 799351****/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
  background-color: #f6eec9;
  font-family: "Murecho", Arial, sans-serif;
  color: black;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/****Header****/
.logo {
  float: left;
  height: 200px;
  padding: 0 16px;
}
.title {
  font-family: "Meow Script", cursive;
  font-size: 500%;
}
.navbar div {
  display: inline-block;
  font-size: 120%;
  padding: 0 8px;
}
.navbar a {
  padding: 4px 8px;
  background-color: #799351;
}
.headerR {
  padding: 16px 32px;
  height: 200px;
  display: inline-block;
}

.banner {
  font-size: 250%;
  text-align: center;
  background-color: #a61c1c;
  padding: 16px;
  margin: 32px 0;
}

/****Order****/
.ordCartCont {
  position: fixed;
  top: 10px;
  right: 20px;
}

.ordPopout {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffa36c;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}
.ordOpacity {
  height: 100%;
  width: 0;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

/****Index****/
#indSec1 {
  padding: 32px;
}
#indMain {
  color: white;
  position: relative;
}
#indMainText {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}
#indText1 {
  font-size: 400%;
}
#indText2 {
  font-size: 200%;
}
#indText3 {
  margin: 32px 0;
}
#indText3 a {
  background-color: #ffa36c;
  transition: 0.3s;
  font-size: 180%;
  padding: 8px 16px;
}
#indText3 a:hover {
  background-color: transparent;
}
/****About****/

.columns {
  float: left;
  width: 50%;
  padding: 0 16px;
}

.rows {
  width: 100%;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}
.abSec {
  padding: 32px;
}
/***Form***/
.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 350px;
}

form {
  max-width: 400px;
  margin: 10px auto;
  padding: 0.5rem 1rem;
}

form h1 {
  padding: 5px 0;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  color: #111;
}

.field {
  margin-bottom: 0.75rem;
}

.field small {
  color: #dc3545;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
  width: 100%;
}

/* input, textarea */
input,
textarea,
select {
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
}

input::placeholder {
  color: #c2c2c2;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2pt rgb(49, 132, 253, 0.5);
}

input[disabled],
textarea[disabled] {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #7a7a7a;
  cursor: not-allowed;
}

/* input error */
input.error,
textarea.error,
select.error {
  border-color: #dc3545;
}

input.error:focus,
textarea.error:focus,
select.error:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

/* input success */
input.success,
textarea.success,
select.success {
  border-color: #198754;
}

input.success:focus,
textarea.success:focus {
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

/* button */
button {
  background: #0d6efd;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid #0d6efd;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  padding: 0.375rem 0.75rem;
}

button:hover {
  background: #0b5ed7;
  border-color: #0a58ca;
  cursor: pointer;
}

button:focus {
  outline: none;
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

/* radio  & checkbox*/
label.radio,
label.checkbox {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.stack label.radio,
.stack label.checkbox {
  display: block;
  margin-left: auto;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-left: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
  width: auto;
}

/* vertical form */
.vertical label,
.vertical input,
.vertical textarea {
  display: block;
  width: 100%;
}

/* horizontal form */
.horizontal .field {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 1rem 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.horizontal .field label {
  grid-column: 1 / 2;
  text-align: left;
}

.horizontal .field label.radio,
.horizontal .field label.checkbox {
  grid-column: 2 / 3;
  text-align: left;
}

.horizontal .field input,
.horizontal .field button,
.horizontal .field small {
  grid-column: 2 / 3;
}

/* Utility classes*/
.half {
  width: 50%;
}
.quarter {
  width: 25%;
}

.full {
  width: 100%;
}

.error {
  color: #dc3545;
}

/*Scroll Design*/
::-webkit-scrollbar {
	z-index: 100;
      width: 5px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
      background-color: #452732 ;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #000;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: #000;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* Style CSS */
*{
	margin: 0px;
	padding: 0px;
}

input{
  outline-color: #C98474;
}

.navbar {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: #A7D2CB;
    border-radius: 0px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.btnStyle{
	background-color: #C98474;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	padding: 7px 10px;
	letter-spacing: .1em;
	border-radius: 3px;
	z-index: 1;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.btnStyle:hover{
	background-color: #874C62;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
	transform: scale(1.05, 1.05);
}

.btnStyle2{
	background-color: #874C62;
}

.btnStyle2:hover{
	background-color: #C98474;
}

.btnStyle3{
	background-color: #A7D2CB;
}

.btnStyle3:hover{
	background-color: #F2D388;
}

.toggleCart{
	position: relative;
}

.fa-circle {
    font-size: 21px !important;
    color: #C98474 ;
}

.num {
    font-size: 12px;
    padding: 3px 6px;
    color: #fff;
}

.num, .fa-circle {
    position: absolute;
    right: -9px;
    top: -9px;
}

.cart{
	width: 200px;
	position: fixed;
	top: 60px;
	bottom: 0px;
	right: -300px;
	overflow-x: hidden;
	overflow-y: scroll;

	z-index: 1;
	background-color: #874C62;
	padding: 30px;
	box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);

	transition: all 0.25s ease-in-out;
}

.cart h2{
	text-align: center;
	margin-bottom: 10px;
}

#cartToggle{ 
	display: none;
}

/*where the magic happens*/
#cartToggle:checked ~ div.body-content > .cart{
	right: 0px;
}

#cartToggle:checked ~ div.body-content{
	right: 100px;
}

#cartToggle:checked ~ div.body-content > .cart > a.finishOrder{
	right: 5px;
}

.body-content{
	position: relative;
	right: 0px;
	width: 80%;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;

	transition: all .2s ease-in-out;
}

/* orders */

.recipe-menu{
	margin-top: 100px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.recipe{
	background-image: url('http://mariecatribs.com/assets/styles/images/drawn-frame-big.png');
	background-size: 100% 100%;
	padding: 10px;
  margin-bottom: 40px;
	width: 300px;
	position: relative;
}

.recipe img{
	width: 100%;
	height: 80%;
}

.name{
    font-size: 23px;
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 22px;
    padding: 0px 15px;
}

.recipe:hover > .addToCart{
	opacity: 1;
}

.addToCart {
	opacity: 0;
    position: absolute;
    top: 70%;
    left: 28%;
    transition: all .2s ease-in-out;
}

.checkOrder{
	padding: 50px;
}

.checkOrder {
    padding: 29px 50px !important;
}

.listHeading {
    text-align: center;
    padding: 20px 0;
}

.listOfIngredients{
	list-style: none;
	margin-bottom: 15px;
}

.listOfIngredients input{
	margin: 0px 5px;
}

.addIngredientWrap{
	display: flex;
	margin: 5px 0;
}

.addIngredientWrap input{
	width: 60%;
}

.addIngredientWrap a{
	padding: 2px 6px;
	margin: 0 5px;
	font-size: 15px;
}

.cancelInput{
	background-color: #B33232;
}

.orderName {
    padding: 13px 0px 8px 0px;
}

.orderPrice{
	float: right;
}

hr {
    margin: 25px 0 5px 0;
}

.delBtn {
    float: right;
    color: #F2D388;
    cursor: pointer;
}

.totalSize{
	display: none;
}

.totalDialog{
	display: none;
}

.totalFinal{
	display: inline-block;
}

.cart > h2 > span{
	margin-left: 15px
}

.finishOrder {
    width: 200px;
    position: fixed;
    bottom: 0;
    right: -265px;
    z-index: 2;
    padding: 6px 28px;
    border-radius: 0;
    text-align: center;
}

#finishOrderDialog{
	padding: 30px;
	display: flex;
	justify-content: space-around;
}

#finalOrderList{
	width: 40%;
}

#finalOrderList h3{
	text-align: center;
}

#finalOrderList ol{
	margin: 10px 15px;
}

#buyerInfo {
    width: 60%;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#buyerInfo input {
    margin: 5px 0;
    padding: 3px;
    width: 90%;
}

#buyerInfo .order{
    display: block;
    width: 50%;
    margin-top: 10px;
    text-align:center;
}

#buyerInfo input::-webkit-input-placeholder {
   text-align: center;
}

#thanksMessage{
	padding: 20px;
}

/* Dialog Style */
.ui-dialog {
    z-index: 2;
  	box-shadow: 2px 0 20px 5px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 30px;
}

.ui-draggable-handle {
    position: absolute;
    background-color: #A7D2CB;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    z-index: 999;
}

.ui-button {
    background-color: #874C62;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    float: right;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.ui-button:hover{
  background-color: #C98474;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16), 0px 6px 10px rgba(0, 0, 0, .23);
	transform: scale(1.05, 1.05);
}

.img{
    height: 200px;
    width: 200px;
}
