/****CSS Reset    https://colorhunt.co/palette/a20a0affa36cf6eec9799351     A20A0A, FFA36C, F6EEC9, 799351****/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
  background-color: #f6eec9;
  font-family: "Murecho", Arial, sans-serif;
  color: black;
  font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/****Header****/
header {
}
.logo {
  float: left;
  height: 200px;
}
.title {
  font-family: "Meow Script", cursive;
  font-size: 500%;
}
.navbar div {
  display: inline-block;
  font-size: 120%;
  padding: 0 8px;
}
.navbar a {
  padding: 4px 8px;
  background-color: #799351;
}
.headerR {
  padding: 16px 32px;
  height: 200px;
  display: inline-block;
}

/****Order****/
.ordCartCont {
  position: fixed;
  top: 10px;
  right: 20px;
}
.ordCart {
}

.ordPopout {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffa36c;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}
.ordOpacity {
  height: 100%;
  width: 0;
  background-color: black;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
